

div#background {
    background-image: url('../assets/backgrounds/wall_pixel.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    image-rendering: pixelated;
}



main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow-y: auto;
    height: 100%;
}

canvas {
    border: 30px groove rgb(201, 155, 91);
    image-rendering: pixelated;
    /* aspect-ratio: 4/3; */
}

.title {
    border: 10px solid rgb(255, 182, 47);
    text-align: center;
}

div#content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(191, 167, 141, 0.7);
    padding: 30px;
    border-radius: 10px;
}

#actions {
    display: flex;
    justify-content: space-between;
    gap: 200px;
}

#colorRelated {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#colors {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
    width: fit-content;
}

.clr-field {
    width: fit-content;
    cursor: pointer;
}



#toolRelated {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#tools, #size {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    width: fit-content;
}

.action {
    width: 25px;
    height: 25px;
}

.selected {
    outline: 5px solid rgb(255, 255, 255);
}


@media screen and (max-width: 800px) {
    canvas {
        border: 20px groove rgb(201, 155, 91);
    }

    #content {
        /* margin: 20px; */
        width: calc(100% - 100px);
    }

    #actions {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    #colorRelated, #toolRelated {
        align-items: center;
    }

    #colors, #tools, #size {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
}